/*=========================================================================================
    File Name: main-menu.scss
    Description: Styles for menu components, main navigation and menu itself.
    ----------------------------------------------------------------------------------------
    Item Name: Atlas Painel
    Version: 1.0
    Author: Atlas
    Author URL: https://api.painelpro.shop
==========================================================================================*/

